body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe5b4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login-box label {
    font-size: 14px;
    margin-bottom: 5px;
}

.login-box input {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    background-color: #222;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.forgot-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #333;
    text-align: center;
    text-decoration: underline;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: gray;
    gap: 8px;
}

.google-login img {
    width: 30px;
    height: 30px;
}

.promo-box {
    text-align: center;
    max-width: 250px;
}

.promo-text {
    background: white;
    padding: 25px;
    border-radius: 100% / 100%;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: right;
}

.mascot {
    width: 125px;
    height: 125px;

}

.accountbtn {
    background-color: #222;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    width: 70%;
}
